.centered-text
  %h1 Euphoria Network
%p.sub-header.centered-text Waves scream on endurance at port degas!Jolly, ye dark scabbard- set sails for courage!Varnish the marshmellow with muddy lime, brine, woodruff, and anise making sure to cover all of it.The jolly whale awkwardly crushs the pants.C'mon, belay.
.featurette-divider

.ui.stackable.grid.row.relaxed
  %img{:src => "http://placehold.it/480x360"}
  .nine.wide.column
    %h2.stacked-align All the games. Together at last.
    %p.sub-header{:style => "text-align: justify"} Fidess manducare in tubinga!Heu, domesticus mineralis!Mori semper ducunt ad raptus aonides.Ecce, nixus!Urbss tolerare, tanquam altus boreas.Nunquam gratia capio.Sunt accentores promissio rusticus, lotus abactores.
