.centered.thick-underline
  %h1 Euphoria Gaming
%p.sub-header.centered The one network to meld gaming servers with the outside world, providing the same experience across all of our servers, and then extending that experience to our website. We run everything, from top to bottom, and stick the users in between. Always adding new servers, always improving the old.
.featurette-divider

.ui.stackable.grid.row.relaxed
  = image_tag 'home/middle.jpeg', :width => 480
  .nine.wide.column
    %h2 All the games. Together at last.
    %p.sub-header{:style => "text-align: justify"} Start an Achievement on one server, and then hop on one of our other servers, and complete it, then spend your earned points on something for a completely different server. This is true integration.

.featurette-divider

.centered
  %h1.no-underline What games?

.ui.stackable.grid.row.relaxed
  .five.wide.column
    .centered
      %h2 Just Cause 2
      = image_tag 'home/jc2.jpg', :style => 'width: 100%; height: auto'
      %p Blow everything Up! Including your friends. Explore the largest sandbox map ever in a game, drive around, fly around, or just grapple your way around. It may just take you years to do everything, and once you have, it's time to invite more friends
  .six.wide.column
    .centered
      %h2 Minecraft
      = image_tag 'home/minecraft.jpg', :style => 'width: 80%; height: auto'
      %p Join your friends on a classic Minecraft server. Make your dream house in the wilderness, or become an entrepreneur at the marketplace. If you love achievements, you will be here a while.
  .five.wide.column
    .centered
      %h2 Team Fortress 2
      = image_tag 'home/tf2.jpg', :style => 'width: 100%; height: auto'
      %p For those who just like killing their friends, or maybe you would rather make friends with those you kill. Find all the hats, and then get all the achievements, and then come back for more.