.centered-text
  %h1 Euphoria Network
%p.sub-header.centered-text Waves scream on endurance at port degas!Jolly, ye dark scabbard- set sails for courage!Varnish the marshmellow with muddy lime, brine, woodruff, and anise making sure to cover all of it.The jolly whale awkwardly crushs the pants.C'mon, belay.
.featurette-divider
