%footer.ui.page.segment.grid.dark-blue-gray
  .stackable.ui.grid.row
    .four.wide.column
      Version
      = get_short_SHA
    .five.wide.right.floated.aligned.column.copyright
      &copy; 2013 HeisenBugDev