%footer.ui.page.segment.grid.dark-blue-gray
  .stackable.ui.grid.row
    .three.wide.column.left.floated.aligned
      Version
      = get_short_SHA
    .three.wide.right.floated.aligned.copyright.column
      &copy; 2013 HeisenBugDev