%header.ui.grid.fixed.transparent.inverted.main.menu.dark-blue-gray
  .container
    .title.item
      %a.bigger-text{:href => root_path} Euphoria
    .right.menu
      %a.item{:href => "#"} Leaderboard
      %a.item{:href => "#"} Login
