%header.ui.grid.fixed.transparent.inverted.main.menu.dark-blue-gray
  .container
    .title.item
      %a.bigger-text{:href => root_path} Euphoria
    .right.menu
      %a.item{:href => "#"} Leaderboard
      = link_to 'Login', new_user_session_path, :class => 'item'
      = link_to 'Sign up', new_user_registration_path, :class => 'item'
